<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICalendarService" />
                <binding name="BasicHttpBinding_IUserService" />
                <binding name="BasicHttpBinding_IBookingService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49197/CalendarService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICalendarService"
                contract="CalendarServiceReference.ICalendarService" name="BasicHttpBinding_ICalendarService" />
            <endpoint address="http://localhost:49197/UserService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IUserService" contract="UserServiceReference.IUserService"
                name="BasicHttpBinding_IUserService" />
            <endpoint address="http://localhost:49197/BookingService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBookingService"
                contract="BookingServiceReference.IBookingService" name="BasicHttpBinding_IBookingService" />
        </client>
    </system.serviceModel>
</configuration>